canvas 
{
	background-color: black;
	height: 100%;
	width: 100%;

	
}

.NoCanvasAntialias
{
	 image-rendering: optimizeSpeed;             /* Older versions of FF          */
	  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	  image-rendering: -webkit-optimize-contrast; /* Safari                        */
	  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	  image-rendering: pixelated;                 /* Awesome future-browsers       */
	  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}


body
{
	margin : 0;

	height: 100%;
	width: 100%;

	background-color: black;
	display: flex;
	flex-direction: row;
}

html
{
	margin : 0;

	height: 100%;
	width: 100%;
}

		
