.Popup
{
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: none;
}

.ClosePopupButton
{
    position: absolute;
    top: -30px;
    right: -30px;


    height: 30px;
    width: 30px;
    border-radius: 50%;

    border : black 2px solid;


    background-color: Transparent;
    background-repeat:no-repeat;
    box-shadow: none;
    outline:none;
}

.Popup_Canvas_Container
{
    display: flex;
    flex-direction: column;
}

#PopupCanvas
{
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 5px;

    border: white 1px solid;

    
}

.JoystickMain
{
    width: 150px;
    height: 150px;
    background-color: black;
    opacity : 0.6;
    border-radius: 50%;
    border: white 1px solid;
}

.ButtonAction
{
    width: 150px;
    height: 150px;
    background-color: black;
    opacity : 0.6;
    border-radius: 50%;
    border: white 1px solid;

    position: absolute;
    bottom: 5%;
    right: 5%;
}

.ButtonNetwork
{
    width: 75px;
    height: 75px;
    background-color: black;
    opacity : 0.6;
    border-radius: 50%;
    border: white 1px solid;

    position: absolute;
    top: 5%;
    right: 5%;
}

.ButtonChat
{
    width: 75px;
    height: 75px;
    background-color: black;
    opacity : 0.6;
    border-radius: 50%;
    border: white 1px solid;

    position: absolute;
    top: 5%;
    left: 5%;
}

.Dialog
{
    width: 80%;
    min-height: 50px;
    background-color: black;
    opacity : 0.6;
    border-radius: 15px;
    border: white 1px solid;
    font-size: 2em;

    padding : 0 10px;

    color: white;

    position: absolute;
    top: 10%;
    right: 10%;

    display: none;
}

.Joystick
{
    width: 50px;
    height: 50px;

    position: relative;
    background-color: white;
    border: black 1px solid;
    border-radius: 50%;
    opacity : 0.5;
}

.JoystickZone
{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.noselect
{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.child
{

    flex-grow: 1;
}

.heightFlex
{
    background-color: black;
    display: flex;
    flex-direction: column;
}

#GameZone
{
    width: 256;
    height: 144;
}

/*##################################################*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    max-height: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 5px;
    background-color:  #686868;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color:  #686868;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}